.card-question {
  background-color: #23272a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #7289da11;
}
.main_content {
  margin-top: 10vh;
}

.options {
  margin-top: 2rem;
}
.option {
  padding: 10px 20px;
  width: 50%;
  border: 0.5px dashed #7289daa1;
  margin: 10px;
  border-radius: 20px;
  color: #ffffff;
  opacity: 0.9;
  font-size: 0.9rem;
}
.option4 {
  border: 0.5px dashed #6cf07398;
  color: #cbffce;
}

p {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
}
.question {
  color: white;
  opacity: 0.9;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.question_no {
  color: #7289da;
  margin-left: 10px;
}

.exam_info {
  height: 100%;
  width: 25%;
  background-color: #23272a;
  /* background-color: #3b3c36; */
  left: 0;
  bottom: 10px;
  top: 30px;
  padding: 10px;
  position: fixed;
}
.info_type[name="first"] {
  color: white;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 10vh;
  margin-left: 10px;
}
.info_type[name="general"] {
  color: white;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 5vh;
  margin-left: 10px;
}
.batch_group {
  display: flex;
  max-width: 40px;
}

font {
  font-family: "Convergence", sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #060b23;
}

.form {
  position: relative;
  width: 20rem;
  height: 1.5rem;
  padding: 20px;
}
.form_in_row {
  position: relative;
  display: flex;
  width: 42%;
  margin-left: 5px;
  height: 1.5rem;
  padding: 20px;
}
.form_in_row2 {
  position: relative;
  display: flex;
  width: 50%;
  margin-left: 8px;
  height: 1.5rem;
  padding: 20px;
}
input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(235, 229, 229, 0.123);
  border-radius: 10px;
  color: white;
  font-weight: 300;
  background: none;
  outline: none;
  padding: 1.25rem;
  letter-spacing: 0.8px;
}

label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: #7289da;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #23272a;
}

input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
  top: -0.7rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1616;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.notification_wrapper {
  position: relative;
}
#block_id {
  display: none;
}
.notification {
  position: absolute;
  z-index: 2;
  display: none;
  transition: 1s;
  width: 100%;
  height: 100%;
  align-items: center;
  backdrop-filter: blur(2px);
}
.push_bg {
  position: absolute;
  right: 0;
  display: none;
  z-index: 4;
  backdrop-filter: blur(10px);
  animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.push_notify {
  width: 30vw;
  right: 0;
  float: right;
  margin-top: -15px;
  min-height: 15vh;
  opacity: 0.99;
  background-color: #36454f;
  color: white;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button[type="close"] {
  margin-top: 40px;
  background: none;
  right: 0;
  color: rgba(238, 101, 101, 0.748);
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px dashed rgba(194, 78, 78, 0.665);
}
button[type="close"]:hover {
  background: rgba(238, 101, 101, 0.748);
  color: white;
}
button[type="cancel"] {
  margin-top: 40px;
  background: none;
  color: rgba(101, 238, 147, 0.748);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px dashed rgba(101, 238, 147, 0.748);
}
button[type="cancel"]:hover {
  background: rgba(101, 238, 147, 0.748);
  color: white;
}
button[type="confirm"],
button[type="deleteExam"] {
  margin-top: 40px;
  background: none;
  color: rgba(241, 118, 112, 0.748);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px dashed rgba(241, 118, 112, 0.748);
}
button[type="confirm"]:hover,
button[type="deleteExam"]:hover {
  background: rgba(241, 118, 112, 0.748);
  color: white;
}
.notification_body_small {
  /* background-color: #2c2f33; */
  display: none;
  background-color: #343434;
  opacity: 0.95;
  width: 40vw;
  height: 30vh;
  margin-left: 35vw;
  margin-top: 15vh;
  border-radius: 10px;
  color: white;
  padding: 2rem;
}
.main_content {
  position: relative;
  z-index: 1;
}
.side_options {
  float: right;
  display: flex;
  margin-right: 15px;
}
.delete_opt {
  float: right;
  color: rgb(255, 146, 146);
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.7;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  cursor: pointer;
  border: 1px dotted rgb(255, 146, 146);
}
.delete_opt:hover,
.edit_opt:hover {
  opacity: 1;
}
.edit_opt {
  float: right;
  margin-left: 10px;
  color: rgb(128, 157, 255);
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.7;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 5px;
  cursor: pointer;
  padding-right: 5px;
  padding-bottom: 2px;
  border: 1px dotted rgb(128, 168, 255);
}

#delete_exam {
  display: none;
}

