* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #2c2f33;
}

.subjective-block{
  display: none;
}

.notification_wrapper {
  position: relative;
}

.notification {
  position: absolute;
  z-index: 2;
  /* display: none; */
  width: 100%;
  align-items: center;
  backdrop-filter: blur(2px);
}
.push_bg {
  position: absolute;
  right: 0;
  display: none;
  z-index: 4;
  backdrop-filter: blur(10px);
  animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.push_notify {
  width: 30vw;
  right: 0;
  float: right;
  margin-top: -15px;
  min-height: 15vh;
  opacity: 0.99;
  background-color: #36454f;
  color: white;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button[type="close"] {
  margin-top: 40px;
  background: none;
  color: rgba(238, 101, 101, 0.748);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px dashed rgba(194, 78, 78, 0.665);
}
button[type="close"]:hover {
  background: rgba(238, 101, 101, 0.748);
  color: white;
}

.question-form-full-card {
  position: relative;
  z-index: 1;
  margin-top: 70px;
  min-height: 80vh;
  width: 70vw;
  border-radius: 15px;
  background-color: #23272a;
  box-shadow: rgb(20, 29, 38) 0px 20px 30px -10px;
}

.image {
  background-image: url(../assets/question-form-top-image.jpg);
  height: 140px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
}

.tab-btn {
  margin-top: 10px;
  border: 2px solid black;
  background-color: #23272a;
  color: black;
  border-radius: 5px;
  padding: 4px;
  width: 180px;
  font-size: 16px;
  cursor: pointer;
}

.tablinks {
  border-color: #2c2f33;
  background: #23272a;
  color: #7289da;
}

.tablinks:hover {
  border-color: #2c2f33;
  background: #2c2f33;
  color: #7289da;
}

#mcq-tab-button{
  border-color: #2c2f33;
  background: #2c2f33;
  color: #7289da;
}

.question-textarea {
  padding-left: 40px;
  padding-right: 10px;
}

.sample-answer-text-area{
  padding-left: 10px;
  padding-right: 40px;
}

.form-control1 {
  width: 100%;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  color: aliceblue;
  border: #2c2f33;
  outline: #2c2f33;
  background-color: #2c2f33;
}

.form-control-option {
  margin-bottom: 5px;
  background-color: #2c2f33;
  outline: #2c2f33;
  color: #ffffff;
  border-radius: 4px;
  padding: 3px;
  padding-left: 15px;
  width: 90%;
  border: none;
}

#default {
  opacity: 0.1;
  color: rgba(255, 255, 255, 0.438);
}

.form-control {
  background-color: #2c2f33;
  border: none;
  color: #ffffff;
}

.form-control:focus {
  outline: none !important;
  background-color: #2c2f33;
  border: none;
  color: #ffffff;
}

.ques-type-heading {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

label {
  padding-top: 8px;
  padding-bottom: 2px;
  opacity: 1;
  color: #7289da;
}

.add-que {
  padding: 10px;
  margin: 20px;
  border: #1cb37bce;
  background-color: #1cb37bce;
  color: white;
}

.add-que:hover {
  background-color: #04aa6d;
  color: white;
}

.go-back {
  padding: 10px;
  margin: 20px;
  border: #f35252de;
  background: #f35252de;
  color: white;
}

.go-back:hover {
  background: #e74e4e;
  color: white;
}

.loader {
  float: right;
}

#loader {
  display: none;
}

.buttons{
  display: flex;
  
}