body {
  font-family: "Nunito", sans-serif;
  background: #2c2f33;
  /* backdrop-filter: blur(4px); */
}
.block {
  border-top-right-radius: 18px;
  width: 70%;
  margin: auto;
  padding: 43px;
  /* background: rgba(58, 57, 57, 0.8); */
  background-color: #23272a;
  border-bottom-right-radius: 18px;
}
.img_block {
  background-color: #3f57ae;
  width: 30%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.form-control1 {
  width: 95%;
  height: 80px;
  border-radius: 8px;
  border: none;
  padding: 8px;
  margin-top: -10px;
  color: #ffffff;
  margin-left: 10px;
  background-color: #2c2f33;
}
.form-control1:focus {
  outline: none !important;
}
form-group {
  display: block;
}
.form-control-option {
  margin: 10px;
  background-color: #2c2f33;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  width: 95%;
  border: none;
}
.form-control-option:focus {
  outline: none !important;
}
::placeholder {
  color: #ffffff;
  opacity: 0.5; /* Firefox */
}
select {
  margin-left: 10px;
  color: #ffffff !important;
}
select:focus {
  outline: 0 !important;
}

.form-control {
  background-color: #2c2f33;
  border: none;
  color: #ffffff;
}
.form-control:focus {
  outline: none !important;
  background-color: #2c2f33;
  border: none;
  color: #ffffff;
}

button[type="addQuestion"] {
  border-radius: 7px;
  border: none;
  padding: 15px;
  float: right;
  min-width: 30%;
  margin-top: 20px;
  margin-right: 20px;
  color: #ffffff;
  background-color: #01796f;
}
button[type="back"] {
  border-radius: 7px;
  border: none;
  margin-left: 15px;
  padding: 15px;
  margin-right: 20px;
  width: 20%;
  /* position: fixed; */
  margin-top: 20px;
  float: left;
  margin-bottom: 5vh;
  color: #ffffff;
  background-color: #ff7575;
}
button:hover {
  background-color: #5a77e0;
  transition: 0.4s;
  /* color: white; */
}
button:focus {
  outline: none;
}
.button {
  padding: 7px;
  width: 99%;
  margin: auto;
}

label {
  opacity: 1;
  color: #7289da;
}

.BLOCK {
  display: flex;
  width: 70%;
  /* margin: 44px; */
  /* padding: 25px; */
  border-radius: 10px;
  margin: 30px auto;
}

#default {
  opacity: 0.1;
  color: rgba(255, 255, 255, 0.438);
}

.notification_wrapper {
  position: relative;
}

.notification {
  position: absolute;
  z-index: 2;
  /* display: none; */
  width: 100%;
  align-items: center;
  backdrop-filter: blur(2px);
}
.push_bg {
  position: absolute;
  right: 0;
  display: none;
  z-index: 4;
  backdrop-filter: blur(10px);
  animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.push_notify {
  width: 30vw;
  right: 0;
  float: right;
  margin-top: -15px;
  min-height: 15vh;
  opacity: 0.99;
  background-color: #36454f;
  color: white;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button[type="close"] {
  margin-top: 40px;
  background: none;
  color: rgba(238, 101, 101, 0.748);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 1px dashed rgba(194, 78, 78, 0.665);
}
button[type="close"]:hover {
  background: rgba(238, 101, 101, 0.748);
  color: white;
}
.notification_body {
  /* background-color: #2c2f33; */
  display: none;
  background-color: #343434;
  opacity: 0.95;
  width: 70vw;
  height: 80vh;
  margin-left: 16vw;
  margin-top: 1vh;
  border-radius: 10px;
  color: white;
  padding: 2rem;
}
.main_content {
  position: relative;
  z-index: 1;
}

.loader {
  float: right;
}

#loader {
  display: none;
}
