<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
   <link rel="stylesheet" type="text/css" href="index.css" >
  <title>Eel Example</title>
  </head>
  <body class="back1">
    <nav class="navbar back2">
      <div class="div-text">191b117_Harsh Modi</div>
      <div class="mx-auto div-text" style="width: 280px">Subject Name</div>
    </nav>

  
    <div class="tab">
        <div class="card cards bar-left"><a style="text-decoration:none;color: white;" href="Personal.html">Personal Details</a></div>
        <div class="card cards "><a style="text-decoration:none;color: white;" href="Exam_info.html">Exam Information</a></div>
        <div class="card cards bar-right c3"><a style="text-decoration:none;color: white;" href="Instructions.html">Instructions</a></div>
    </div>

    <div class="card back2" style="border-radius: 8px; margin: 40px">
      <div class="instruction back3">Instruction</div>
      <div class="content1">
        <table class="table table-dark back2 text">
          <tr>
            <td>1.</td>
            <td>
              Arrive at the examination venue at least 15 minutes before the
              start of the examination / 35 minutes before a digital
              examination.
            </td>
          </tr>
          <tr>
            <td>2.</td>
            <td>
              The examination starts at the moment the book control begins, and
              you must therefore be present by 8.20 a.m. for regular written
              examinations and 8.10 a.m. at digital examinations.
            </td>
          </tr>
          <tr>
            <td>3.</td>
            <td>
              When using a laptop at digital examinations, the laptop has to be
              set up as soon as possible. If you are taking a law exam, the
              laptop must be set up before the book control.
            </td>
          </tr>
          <tr>
            <td>4.</td>
            <td>
              Coats, backpacks, bags, etc. must be placed as directed. Mobile
              phones, mp3 players, smartwatches and other electronic devices
              must be turned off and put away, and cannot be stored in coats or
              pockets.
            </td>
          </tr>
          <tr>
            <td>5.</td>
            <td>
              If support material, other than that which is specifically
              permitted, is found at or by the desk, it may be treated as an
              attempt to cheat and relevant procedures for cheating will be
              followed.
            </td>
          </tr>
          <tr>
            <td>6.</td>
            <td>
              The head invigilator will provide information about examination
              support materials that you are permitted to use during the
              examination. All dictionaries must be approved by the faculty
              before the exam and will be handed out in the exam venue by the
              invigilators.
            </td>
          </tr>
          <tr>
            <td>7.</td>
            <td>
              Please switch off your mobile phones and keep it in your bags/hand
              it over to the invigilator as soon as you enter the examination
              hall. If any electronic gadget is found to be possessed by the
              student, the same shall be confiscated and submitted with the
              Academic Cell along with the identity card/Admit Card.
            </td>
          </tr>
          <tr>
            <td>8.</td>
            <td>
              Students are not allowed to stand outside the examination hall
              after the first bell. Students are generally not permitted to
              enter the examination hall after the second bell. Genuine late
              comers will be allowed to enter the hall, but only in the first
              half an hour.
            </td>
          </tr>
          <tr>
            <td>9.</td>
            <td>
              Students are not permitted to leave the examination hall in the
              first half an hour.
            </td>
          </tr>
        </table>
      </div>
    </div>

    <button type="submit" class="btn back3" style="color:white;margin-bottom:30px">Proceed</button>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
