<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/stls.css"/>
    <title>Exam Details</title>
    
  </head>
  <body class="back1">
   <div class="section3">

<div class="card back1">
<div class="text" style="margin-left:20px"><p id="txt1">Personal Details</p></div>
<div class="inside">
<a href="personal.html" style="margin-left:90px"><div class="icon"  onmouseover="mouseOver1()" onmouseout="mouseOut1()" style="background-color:#7289da;"></div></a>
</div>
</div>


<div class="card back1">
<div class="text"  style="margin-left:360px"><p id="txt2" style="opacity:1">Exam Details</p></div>
<div class="inside" style="margin-left:-145px">
 <div class="line" id="line1" style="background-color:#7289da;"></div>
<a href="exam_detail.html"><div class="icon"  style="background-color:#7289da;"></div></a>
</div>
</div>

<div class="card back1">
<div class="text"  style="margin-left:300px"><p id="txt3">Exam Instruction</p></div>
<div class="inside" style="margin-left:-170px" >
 <div class="line" id="line2"></div>
<a href="instruction.html"><div class="icon" onmouseover="mouseOver3()" onmouseout="mouseOut3()"></div></a>
</div>
</div>
</div>
  <!-- Tab End Here -->

<!-- Content Details full length -->
    <div class="detail">

       <!--IMAGE CARD LEFT SIDE-->
       <div class="card left-card">
        <div class="image">
          <img src="./img/3.png" alt="image"/>
          </div>
          </div>
        <!--IMAGE CARD END HERE-->
      
      <!---RIGHT SIDE CARD-->
      <div class="card right-card">
          <div class=" heading">
            <p class="text-heading">Exam Details</p>
            <p class="sub-heading"> Check out Exam Details  </p>
          </div>
          <!--LABEL FORM START-->
          <div class="fill-up-form">
              <div class="form">
                <input
                  type="text"
                  id="name"
                  class="form_input"
                  autocomplete="off"
                  placeholder=" "
                   value="PTRP"
                  readonly
                />
                <label for="name" class="form_label">Subject Name</label>
              </div>
              <br>
              <div class="form">
                <input
                  type="text"
                  id="er_no"
                  class="form_input"
                  autocomplete="off"
                  placeholder=" "
                   value="18B241C1"
                  readonly
                />
                <label for="er_no" class="form_label">Exam Code</label>
              </div>
              <br>
              <div class="form">
                <input
                  type="text"
                  id="course"
                  class="form_input"
                  autocomplete="off"
                  placeholder=" "
                   value="21-AUG-2021"
                  readonly
                />
                <label for="course" class="form_label">Exam Date</label>
              </div>
              <br>
              <div class="form">
                <input
                  type="text"
                  id="semester"
                  class="form_input"
                  autocomplete="off"
                  placeholder=" "
                  value="15:00-17:00"
                  readonly
                />
                <label for="semester" class="form_label">Exam Time</label>
              </div>
              <br>
                 <div class="form">
                <input
                  type="text"
                  id="semester"
                  class="form_input"
                  autocomplete="off"
                  placeholder=" "
                  value="2 hours"
                  readonly
                />
                <label for="semester" class="form_label">Exam Duration</label>
              </div>
        
            </div>
            <!--LABEL FORM ENDS HERE-->

    <!-- BUTTONS -->
        <div class="btns">
           <div class="btn btn-dark bt1"  onclick="location.href='personal.html'"><center>Prev</center></div>
            <div class="btn btn-dark bt2"  onclick="location.href='instruction.html'"><center>Next</center></div>
     </div>

  <!-- BUTTONS ENDS -->
     </div>
          </div>
    <!--RIGHT SIDE ENDS-->

      </div>
  <!-- FULL CARD ENDS -->

  <!--SCRIPT-->
    <script>
    function mouseOver1() {
  var x = document.getElementById("txt1");
    x.style.opacity = "1";
    x.style.transition="0.3s";
    } 

   function mouseOut1() {
  var x = document.getElementById("txt1");
    x.style.opacity = "0.3";
}

  function mouseOver2() {
  var x = document.getElementById("txt2");
    x.style.opacity = "1";
    x.style.transition="0.3s";
    } 

   function mouseOut2() {
  var x = document.getElementById("txt2");
    x.style.opacity = "0.3";
}

  function mouseOver3() {
  var x = document.getElementById("txt3");
    x.style.opacity = "1";
    x.style.transition="0.3s";
    } 

   function mouseOut3() {
  var x = document.getElementById("txt3");
    x.style.opacity = "0.3";
}
    
    </script>
  </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
