<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>Document</title>
  </head>
  <body class="back1">
    <nav class="navbar back2"></nav>

    <div class="tab">
      <div class="card cards bar-left">
        <a style="text-decoration: none; color: white" href="Personal.html"
          >Personal Details</a
        >
      </div>
      <div class="card cards c2">
        <a style="text-decoration: none; color: white" href="Exam_info.html"
          >Exam Information</a
        >
      </div>
      <div class="card cards bar-right">
        <a style="text-decoration: none; color: white" href="Instructions.html"
          >Instructions</a
        >
      </div>
    </div>

    <div class="detail">
      <div class="heading">Exam Information</div>
      <div class="content">
        <div class="card c4 back2">
          <div class="card-img">
            <img
              class="img"
              src="../assets/main_image_2.png"
              alt="university"
            />
          </div>
        </div>
        <div class="card c5 back2">
          <div class="card-body text">
            <p><b>Subject Name: </b>APS</p>
            <p><b>Subject Code: </b>18B11AS0830</p>
            <p><b>Exam Date: </b>23 September 2021</p>
            <p><b>Exam Time: </b>9:30 am</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="btn back3"
      style="color: white"
      onclick="location.href='Instructions.html'"
      sid="demo"
    >
      Next
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
