<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Splash-screen</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- bootstrap Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- CSS File -->
    <link href="../css/login.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <a href="index.html" class="hero-logo" data-aos="zoom-in"
          ><img
            src="../assets/arclightlogoicon.png"
            alt="logo-icon"
            height="100px"
        /></a>
        <h1 class="logo-header">
          <span class="logo">ARC</span><span class="logo">LIGHT</span>
        </h1>
        <a
          data-aos="fade-up"
          data-aos-delay="3000"
          href="login.html"
          class="button-gs"
          >Get Started</a
        >
      </div>
    </section>
    <!-- End Hero -->

    <script src="../js/login.js"></script>
  </body>
</html>
